*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  // max-width: 1400px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.h-reset {
  margin: 0;
  font-size: inherit;
}

.flex {
  display: flex;
  align-items: center;
}

.project_title {
  margin: 0;
  font-family: var(--font3);
  font-weight: 500;
  font-size: clamp(var(--size52), 5vw, var(--size68));
  line-height: 115%;
  letter-spacing: -0.01em;
  color: #1f1f1f;

  @include mobile {
    font-size: 54px;
  }
}

.grid-row {
  display: grid;
}

.project_link_accent {
  margin: var(--size30) auto var(--size40);
  max-width: max-content;
  border: 0.2vw solid transparent;
  border-radius: var(--size99);
  padding: var(--size15) var(--size52);
  font-weight: 500;
  font-size: var(--size22);
  color: #fff;
  transition: all 0.3s linear;
  display: block;
  background: transparent;
  position: relative;

  @include mobile {
    margin: 38px auto;
    border-radius: 99px;
    padding: 17px 43px;
    font-size: 22px;
  }

  @media (hover:hover) {
    &:hover {
      color: var(--accent-color);
      background-color: transparent;
      border-color: var(--accent-color);

      &::after {
        opacity: 0;
      }
    }
  }

  &::after {
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg, #8066bd 0%, #6d49c2 100%);
    inset: 0;
    border-radius: var(--size99);
    transition: all 0.3s linear;
    content: '';
    display: block;
  }
}

.section.--sidebar .container {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  gap: var(--sidebar-gap);

  & .header_sidebar.--main {
    padding-top: 0;
  }

  & .header_inner_bootom {
    position: sticky;
    top: var(--size30);
  }

  @include mobile {
    display: block;
  }
}

.header_sidebar_back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: var(--size30);
  line-height: 115%;
  color: #000;
  border: 0.2vw solid rgba(78, 70, 166, 0.8);
  border-radius: var(--size99);
  padding: var(--size15) var(--size28);
  margin-bottom: 24vw;
  max-width: max-content;

  & img {
    width: var(--size25);
    height: var(--size20);
    object-fit: contain;
  }
}

.--sidebar_left {
  padding-bottom: var(--size52);

  @include mobile {
    display: none;
  }
}