.section404 {

    min-height: 100vh !important;

    & .header_inner_bootom {
        display: block;
    }

    & .header_content {
        padding-bottom: 0 !important;
        padding-top: var(--size50) !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mobile{
            padding-top: 20vh !important;
        }
    }

    & .project_title {
        font-weight: 500;
        font-size: var(--size150);
        line-height: 115%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #fff;
        margin-bottom: var(--size20);

        @include mobile{
            font-size: 80px;
        }
    }

    & p {
        font-family: var(--font3);
        font-weight: 500;
        font-size: var(--size32);
        line-height: 115%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #fff;
        margin: 0;

        @include mobile{
            font-size: 26px;
        }
    }

    & small {
        font-family: var(--font3);
        font-weight: 300;
        font-size: var(--size16);
        line-height: 115%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #fff;

        @include mobile{
            font-size: 12px;
            padding-top: 20px;
            text-align: center;
            max-width: 200px;
        }

        & a{
            text-decoration: underline;
        }
    }
}