.container{
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 2.1vw;

    @include tablet{
        padding: 0 15px;
    }

    @include mobile{
        padding: 0 8px;
    }
}
.container-small{
    max-width: var(--container-small-width);
}

