.footer {
    padding: var(--size42) 0 var(--size30);

    @include mobile{
        padding-top: 38px;
        padding-bottom: 24px;
    }
}

.footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size10);

    @include mobile{
        gap: 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    & .flex-column {
        & a {
            font-family: var(--font3);
            font-weight: 400;
            font-size: var(--size20);
            line-height: 145%;
            color: #fff;
            display: block;

            @include mobile{
                text-align: center;
                font-size: 20px;
            }
        }

        & small {
            font-weight: 400;
            font-size: var(--size12);
            line-height: 124%;
            color: rgba(255, 255, 255, 0.5);
            margin-top: var(--size30);
            display: block;

            @include mobile{
                font-size: 12px;
                margin-top: 20px;
                text-align: center;
            }
        }
    }
}
.footer_inner_logo img{
    display: block;
    width: var(--size114);
    max-height: var(--size64);

    @include mobile{
        width: 100%;
        max-width: 116px;
        max-height: 65px;
    }
}