.footer {
    padding: var(--size42) 0 var(--size30);
}

.footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size10);

    & .flex-column {
        & a {
            font-family: var(--font3);
            font-weight: 400;
            font-size: var(--size20);
            line-height: 145%;
            color: #fff;
            display: block;
        }

        & small {
            font-weight: 400;
            font-size: var(--size12);
            line-height: 124%;
            color: rgba(255, 255, 255, 0.5);
            margin-top: var(--size30);
            display: block;
        }
    }
}
.footer_inner_logo img{
    display: block;
    width: var(--size114);
    max-height: var(--size64);
}