.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: var(--size30) 0;
}

.header_logo{
    & img{
        width: 7vw;
        height: 6vw;
    }
}

.header.--main {
    min-height: 63.5vw;
    background-position: bottom;
}

.header_link {
    border-radius: var(--size99);
    padding: var(--size15) var(--size30);
    font-weight: 500;
    font-size: var(--size22);
    color: transparent;
    transition: all 0.3s linear;
    position: relative;
    z-index: 2;
    border: 0.19vw solid transparent;

    &::before {
        content: "Заказать проект";
        position: absolute;
        font-weight: 500;
        font-size: var(--size22);
        color: #fff;
        padding: var(--size15) var(--size30);
        inset: 0;
        z-index: -1;
        border-radius: 99px;
        background: linear-gradient(134deg, #ffc71a 0%, #f8aa1a 100%);
        box-shadow: 0 10px 60px 0 rgba(174, 113, 41, 0.4), 0 20px 60px 0 rgba(232, 205, 110, 0.1), inset 0 0 20px 0 rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(20px);
        transition: all 0.3s linear;
    }

    @media (hover: hover) {
        &:hover {
            color: #fff;
            border-color: #f8aa1a;
            box-shadow: 0 10px 60px 0 rgba(174, 113, 41, 0.4), 0 20px 60px 0 rgba(232, 205, 110, 0.1), inset 0 0 20px 0 rgba(255, 255, 255, 0.4);
        }

        &:hover::before {
            opacity: 0;
        }
    }
}

.header_sidebar.--main {
    padding-top: 26vw;

    & .header_menu {
        display: flex;
        flex-direction: column;
        gap: var(--size15);


        & li {
            position: relative;
            z-index: 2;

            &.current-menu-item{
                &::after {
                    opacity: 0;
                }
                
                & a{
                    color: var(--accent-color);
                    background-color: transparent;
                    border-color: var(--accent-color);
                }
            }

            &:has( a:hover) {
                &::after {
                    opacity: 0;
                }
            }

            &::after {
                position: absolute;
                z-index: -1;
                background: linear-gradient(180deg, #8066bd 0%, #6d49c2 100%);
                inset: 0;
                border-radius: var(--size99);
                transition: all 0.3s linear;
                content: '';
                display: block;
            }
            
            & a {
                border: 0.1vw solid transparent;
                border-radius: var(--size99);
                padding: var(--size15) var(--size52);
                font-weight: 500;
                font-size: var(--size22);
                color: #fff;
                transition: all 0.3s linear;
                display: block;

                @media (hover:hover) {
                    &:hover {
                        color: var(--accent-color);
                        background-color: transparent;
                        border-color: var(--accent-color);
                    }
                }
            }

        }
    }
}

.header_inner_bootom {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    gap: var(--sidebar-gap);
}

.header_content {
    padding-top: var(--size150);
    padding-bottom: 33.8vw;

    & h1 {
        font-family: var(--font3);
        font-weight: 500;
        font-size: var(--size32);
        line-height: 115%;
        letter-spacing: -0.01em;
        color: #fff;
        margin: 0;
        margin-bottom: var(--size22);
    }

    & p {
        margin: 0;
        font-family: var(--font3);
        font-weight: 300;
        font-size: var(--size16);
        line-height: 115%;
        letter-spacing: -0.01em;
        color: #fff;
    }
}