.project {
    margin-top: - var(--size99);

    & .project_title {
        margin-bottom: var(--size25);
    }

}

.project_inner {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    gap: var(--sidebar-gap);
}

.project_main {
    max-width: var(--main-content);

    &:has(.project_taxonomy.active) {
        & .project_show~li {
            opacity: 1;
        }
    }
}

.project_taxonomy {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size10);
    margin-bottom: var(--size40);
    max-height: 3.2vw;
    overflow: hidden;
    transition: all 0.3s linear;

    &.active {
        & .project_show svg {
            transform: rotate(180deg);
        }
    }

    & * {
        transition: all 0.3s linear;
    }

    & li {
        background: #8b86cd;
        border-radius: var(--size99);
        transition: all 0.3s linear;
        border: 0.2vw solid transparent;

        &.active {
            background: transparent;
            color: #000;
            border: 0.2vw solid #8b86cd;

            & a{
                color: inherit;
            }
        }


        @media (hover:hover) {
            &:hover {
                background: transparent;
                color: #000;
                border: 0.2vw solid #8b86cd;

                & a {
                    color: inherit;
                }
            }
        }

        &.project_all {
            color: #fff;

            &.active {
                background: transparent;
                color: #000;
                border: 0.2vw solid #8b86cd;

                @media (hover:hover) {
                    &:hover {
                        background: #8b86cd !important;
                        color: #fff;
                        border-color: transparent;

                        & a {
                            color: inherit;
                        }
                    }
                }
            }


            & a {
                color: inherit;
            }
        }

        &.project_show {
            border-radius: var(--size99);
            // padding: 1.1vw 23px 1.1vw 28px;
            box-shadow: 0 3px 12px 0 rgba(37, 25, 53, 0.15);
            padding: var(--size10) var(--size25);
            cursor: pointer;

            & path {
                transition: all 0.3s linear;
            }

            & svg {
                transform: rotate(0);
                transition: all 0.3s linear;
            }

            @media (hover:hover) {
                &:hover {
                    & path {
                        stroke: black;
                    }
                }
            }

            &~li {
                opacity: 0;
                // margin-top: -100%;
            }
        }
    }

    & a {
        border-radius: var(--size99);
        display: block;
        padding: var(--size8) var(--size25);
        font-weight: 400;
        font-size: var(--size18);
        line-height: 115%;
        color: #fff;
        transition: all 0.3s linear;
    }
}

.project_content {
    display: flex;
    flex-direction: column;
    gap: var(--size50);

    & article {
        display: flex;
        flex-direction: column;
        gap: var(--size20);

        & h3,
        & p {
            margin: 0;
            display: unset;
        }
    }

    & article .img-wrap {
        position: relative;
    }

    & article a {
        display: block;
    }

    & article img {
        border-radius: var(--size25);
        width: var(--main-content);
        height: var(--size434);
    }

    & article span {
        font-weight: 400;
        font-size: var(--size16);
        line-height: 115%;
        color: #737373;
        border-radius:var(--size6);
        padding: 0.2vw var(--size10);
        background: #fff;
    }

    & article .content_wrap {
        position: absolute;
        z-index: 2;
        top: var(--size20);
        left: var(--size20);
        display: flex;
        align-items: center;
        gap: var(--size6);
    }

    & article .grid-row {
        grid-template-columns: 1fr var(--size114);
        gap: var(--size50);

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--size10);
            box-shadow: 0 3px 12px 0 rgba(37, 25, 53, 0.15);
            background: #fff;
            padding: var(--size12) var(--size16);
            max-width: var(--size114);
            max-height: 3.3vw;
        }
    }
}

.project_content_text {
    & h3 {
        display: inline;
        font-weight: 700;
        font-size: var(--size22);
        line-height: 115%;
        color: #000;
    }

    & p {
        font-weight: 400;
        font-size: var(--size22);
        line-height: 115%;
        color: #000;
    }
}

.project_link_bank {
    & img {
        display: block;
        max-width: calc( var(--size10 ) * 2  + 0.5) !important;
        max-height: var(--size40) !important;
        object-fit: contain !important;
    }
}

.project_content_small {
    margin-top: var(--size50);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size20);

    & a {
        display: block;
        position: relative;

        & img {
            border-radius: var(--size6);
            height: var(--size358);
            width: var(--size405);
        }

        & .content_wrap {
            position: absolute;
            left: var(--size20);
            top: var(--size20);
            display: flex;
            gap: var(--size6);
        }
    }

    & .project_content_small_item span {
        font-weight: 400;
        font-size: var(--size16);
        line-height: 115%;
        color: #737373;
        border-radius: var(--size6);
        padding: 0.2vw var(--size10);
        background: #fff;
    }
}