:root {

  --font-family: "Roboto", sans-serif;
  // --second-family: "TT Hoves Pro Trial", sans-serif;
  // --third-family: "Roboto Medium", sans-serif;
  --font3: "Unbounded", sans-serif;
  // --font4: "TT Hoves Pro Trial Variable", sans-serif;

  --content-width: 99vw;
  --content-small-width: 91.5vw;
  --container-offset: 2.1vw;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-small-width: calc(var(--content-small-width) + (var(--container-offset) * 2));

  --sidebar-width: 14.4vw;
  --sidebar-gap: 8.9vw;
  --main-content: 59.3vw;
  // colors
  --light-color: #fff;
  --accent-color: #9476dd;;
  --accent-light-color: #8b86cd;;
  --dark-color: #141024;
  --text-colot: rgba(#141024, 0.7);

  --size6: 0.5vw;
  --size8: 0.6vw;
  --size10: 0.7vw;
  --size12: 0.85vw;
  --size15: 1.1vw;
  --size16: 1.15vw;
  --size18: 1.3vw;
  --size20: 1.45vw;
  --size22: 1.6vw;
  --size25: 1.84vw;
  --size28: 2vw;
  --size30: 2.2vw;
  --size32: 2.35vw;
  --size35: 2.5vw;
  --size40: 2.9vw;
  --size42: 3vw;
  --size46: 3.3vw;
  --size50: 3.61vw;
  --size52: 3.7vw;
  --size64: 4.6vw;
  --size68: 4.9vw;
  --size80: 5.6vw;
  --size99: 7vw;
  --size114: 8.15vw;
  --size120: 8.6vw;
  --size150: 10.9vw;
  --size200: 15vw;
  --size263: 15vw;
  --size358: 25.6vw;
  --size405: 28.93vw;
  --size434: 31vw;
}


@media (max-width: 576px) {
  :root {
    // --sidebar-width: 14.4vw;
    // --sidebar-gap: 8.9vw;
    --main-content: 100%;
    --size6: 6px;
    --size8: 8px;
    --size10: 10px;
    --size12: 12px;
    --size15: 15px;
    --size16: 16px;
    --size18: 18px;
    --size20: 20px;
    --size22: 22px;
    --size25: 25px;
    --size28: 28px;
    --size30: 30px;
    --size32: 32px;
    --size35: 35px;
    --size40: 40px;
    --size42: 42px;
    --size46: 46px;
    --size50: 50px;
    --size52: 52px;
    --size64: 64px;
    --size68: 68px;
    --size80: 80px;
    --size99: 99px;
    --size114: 114px;
    --size120: 120px;
    --size150: 150px;
    --size200: 200px;
    --size358: 358px;
    --size405: 405px;
    --size434: 434px;
  }
}