<header class="section header --small" style="background-image: url(./assets/images/header/Header-small.png);">
    <div class="container">
        <div class="header_inner">
            <a href="/" class="header_logo">
                <img src="./assets/images/header/logo.svg" alt="logo" width="99" height="84">
            </a>
            <a href="javascript:void(0);" class="header_link" onclick="openModal()">Заказать проект</a>
        </div>
        <div class="header_mobile">
            <a href="" class="mobile_logo">
                <img src="./assets/images/header/Mobile_logo.svg" alt="logo" width="93" height="52">
            </a>
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
              </div>
        </div>
        <div class="header_menu_mobile" style="background-image: url(./assets/images/header/Airbrush-Image-Enhancer.png);">
            <nav id="menu_mobile">
                <ul class="header_menu--mobile list-reset">
                    <li class="current-menu-item"><a href="">Проекты</a></li>
                    <li><a href="">Клиенты</a></li>
                    <li><a href="">Контакты</a></li>
                    <li><a href="javascript:void(0);" onclick="openModal()">Заказать проект</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>