<header class="section section404 header --main" style="background-image: url(./assets/images/404.png);">
    <div class="container">
        <div class="header_inner">
            <a href="/" class="header_logo">
                <img src="./assets/images/header/logo.svg" alt="logo" width="99" height="84">
            </a>
            <!-- <a href="javascript:void(0);" class="header_link" onclick="openModal()">Заказать проект</a> -->
        </div>
        <div class="header_mobile">
            <a href="" class="mobile_logo">
                <img src="./assets/images/header/Mobile_logo.svg" alt="logo" width="93" height="52">
            </a>
    
        </div>
        <div class="header_inner_bootom">
            
            <div class="header_content">
                <h1 class="project_title">404</h1>
                <p>Что-то пошло не так</p>
                <small>Страница не найдена. Перейдите на <a href="">главную</a></small>
            </div>
        </div>
    </div>
</header>