<div class="modal-overlay" id="modal-overlay" onclick="closeModal(event)">
    <div class="modal-window" onclick="event.stopPropagation()">
        <h2 class="modal_title">Напишите <br> нам</h2>
        <button class="modal-close" onclick="closeModal(event)">
            <img src="./assets/images/modal/close.svg" alt="close" width="20" height="20" loading="lazy">
        </button>
        <form action="#" method="post" enctype="multipart/form-data">
            <span>
                <input type="text" class="input_style" id="name" name="name" placeholder="Ваше имя" required>
            </span>
            <span>
                <input type="email" class="input_style" id="email" name="email" placeholder="Почта" required>
            </span>
            <span>
                <input type="tel" class="input_style" id="phone" name="phone" placeholder="Телефон" required>
            </span>
            <span>
                <label for="comment" class="modal_comment">
                    <textarea id="comment"class="input_style textarea_style"  name="comment" rows="3"></textarea>
                </label>
            </span>
            <span>
                <label for="file" class="file-label">
                    <img src="./assets/images/modal/image76.png" alt="скрепка" width="22" height="20" loading="lazy">
                    <span>Прикрепить файл:</span>
                </label>
                <input type="file" id="file" name="file" class="file-input">
            </span>
            <input type="submit" class="modal-submit disabled" value="Отправить" />
        </form>
        <div class="modal_thanks" data-thanks>
            <h2 class="modal_title_thanks">Сообщение <br> успешно <br> отправлено!</h2>
            <p class="h-reset">Наш менеджер с вами свяжется, спасибо!</p>
        </div>
    </div>
</div>